<section class="title">
    <h1>Universidad Nacional Horizonte</h1>
    <h3>Exelencia Academica</h3>
</section>

<section class="carousel-container">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../../assets/imagenes/99ae08_158ccf1a334e43198cc09762997275ca~mv2.webp"
                    class="d-block w-100" alt="...">

            </div>

            <div class="carousel-item ">
                <img src="../../../../assets/imagenes/estudiantes-universitarios-profesores-universidades-Francisco-Diaz.jpg"
                    class="d-block w-100" alt="...">

            </div>

            <div class="carousel-item">
                <img src="../../../../assets/imagenes/study-1.jpg" class="d-block w-100" alt="...">

            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>


<section class="contenido-container">

    <div class="card-con d-flex flex-row">
        <div class="text-card">
            <h3>CARRERAS</h3>
            <p>Explora Nuestras carreras</p>
        </div>
        <div class="img-card">
            <img src="../../../../assets/imagenes/carreras.jpg" alt="">
        </div>
    </div>

    <div class="card-con d-flex flex-row-reverse">
        <div class="text-card">
            <h3>Postgrados</h3>
            <p>Averigua Nuestros posgrados</p>
        </div>
        <div class="img-card">
            <img src="../../../../assets/imagenes/postgrados.jpg" alt="">
        </div>
    </div>

    <div class="card-con d-flex flex-row">
        <div class="text-card">
            <h3>Nuestras Sedes</h3>
            <p>Conoce Tu Lugar de Estudio</p>
        </div>
        <div class="img-card">
            <img src="../../../../assets/imagenes/sedes.jpg" alt="">
        </div>
    </div>
</section>

<section class="info-container">

    <div class="card">
        <div class="card-image">
            <img src="../../../../assets/imagenes/guiadeTramites.jpg" alt="Card Image">
        </div>
        <div class="card-content">
            <h2 class="card-title">nuestros tramites</h2>
        </div>
    </div>

    <div class="card">
        <div class="card-image text-center">
            <img src="../../../../assets/imagenes/tutorias.jfif" alt="Card Image">
        </div>
        <div class="card-content">
            <h2 class="card-title text-center">Conoce Nuestras Tutorias</h2>
        </div>
    </div>

    <div class="card">
        <div class="card-image text-center">
            <img src="../../../../assets/imagenes/Talleres.jpg" alt="Card Image">
        </div>
        <div class="card-content">
            <h2 class="card-title text-center">Conoce Nuestros Talleres</h2>
        </div>
    </div>



</section>