<div class="container">
    <h1 class="title" mat-dialog-title> Agregar Inscripcion </h1>
    <form [formGroup]="inscripcionesForm" (ngSubmit)="onSubmit()" class="form-container">

        <div class="form-item">
            <mat-form-field class="w-full">
                <mat-label>Id Alumno</mat-label>
                <input formControlName="usuarioId" matInput type="text">
            </mat-form-field>
        </div>

        <div class="form-item">
            <mat-form-field>
                <mat-label>id Curso</mat-label>
                <input formControlName="cursoId" matInput type="text">
            </mat-form-field>
        </div>

        <div class="form-item">
            <button mat-flat-button color="primary">ENVIAR</button>
        </div>
    </form>

</div>